<div class="top-bar" th:fragment="header">
    <div class="container">
        <div class="link-container">
            <a th:href="${#authorization.expression('isAuthenticated()') ? '/dashboard' : '/'}" class="logo-link">
                <h1>MINKOSTPLAN</h1>
            </a>
            <button th:if="${#authorization.expression('isAuthenticated()')}" class="link"
                    th:classappend="${page == 'dashboard' ? 'active' : ''}"
                    onclick="window.location.href='/dashboard'">Dashboard</button>
            <button th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'', ''ROLE_EMPLOYEE'', ''ROLE_SUBSCRIBER'')')}"
                    class="link"
                    th:classappend="${page == 'weekly-recipes' ? 'active' : ''}"
                    th:onclick="|window.location.href='@{/weekly-recipes}'|">Ugens Opskrifter</button>
            <button class="link"
                    th:classappend="${page == 'omOs' ? 'active' : ''}"
                    onclick="window.location.href='/omOs'">Om Os</button>
        </div>
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <form th:action="@{/perform_logout}" method="post" style="display: inline;">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <button class="btn-primary" type="submit">Log ud</button>
            </form>
        </div>
        <div th:if="${#authorization.expression('!isAuthenticated()')}">
            <button onclick="window.location.href='/login'" class="btn-primary">Login</button>
        </div>
    </div>
</div>