@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/4iCs6KVjbNBYlgoKfw72.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ebf5ed;
    font-family: Ubuntu, sans-serif!important;
}

input, label {
    font-family: Ubuntu, sans-serif!important;
}

textarea {
    font-family: Ubuntu, sans-serif!important;
    resize: none;
}

textarea.large, .input-field.large {
    height: 100px;
}

.top-bar {
    background-color: #fdfdfd;
    color: #3c3f40;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.09)!important;
    place-content: center;
    height: 75px;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    max-width: 1140px;
    align-items: center;
}

.top-bar h1 {
    margin: 0;
    font-size: 24px;
}

.bold {
    font-weight: bold;
}

.color-red {
    background-color: #e25c5c !important;
}

.color-red:hover {
    background-color: #cc4444 !important;
    transition: background-color 0.3s ease-in-out;
}

.color-blue {
    background-color: #88cbee !important;
}

.color-blue:hover {
    background-color: #4f99d5 !important;
}

.btn-primary {
    text-decoration: none;
    color: white;
    background-color: #78d578;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.09)!important;
    display: flex;
    gap: 0.5em;
    place-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #4eb74e;
}

.hero {
    position: relative;
    background-color: #ebf5ed;
    color: #333;
    padding: 50px 0px 0px 0px;
    text-align: center;
    overflow: hidden;
}

.hero .content-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.hero img {
    max-width: 420px;
    filter: drop-shadow(2px 2px 6px #363636);
}

.hero .headline {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero .sub-headline {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.wave-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.wave {
    position: relative;
    display: block;
    width: 100%;
    height: 160px; /* Adjust the height for a taller wave */
}

.features-section {
    display: flex;
    justify-content: space-around;
    background: #fff;
    padding: 20px;
    position: relative;
    z-index: 1;
    margin-top: -5px;
}

.feature {
    text-align: center;
    max-width: 300px;
}

.feature i {
    font-size: 3em;
    color: #78d578;
}

.feature h3 {
    margin: 20px 0 10px;
}

.testimonials-section {
    background: #e9f3eb;
    text-align: center;
    position: relative;
    z-index: 1;
}

.testimonial {
    margin-bottom: 30px;
}

.testimonial p {
    font-size: 1.2em;
}

.testimonial .author {
    font-weight: bold;
    margin-top: 10px;
}

.rotate {
    transform: rotateX(180deg);
}

.btn-primary-large {
    text-decoration: none;
    color: white;
    background-color: #78d578;
    font-size: 2.5em;
    padding: 20px 35px;
    font-weight: bold;
    border-radius: 16px;
    border: none;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.18)!important;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary-large:hover {
    background-color: #4eb74e;
}

#edit-button {
    transition: none !important;
}

#edit-button:hover {
    transition: background-color 0.3s ease-in-out !important;
}

.content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    max-width: 1140px;
    margin: auto;
    width: 100%;
    gap: 3em;
}

.content img {
    height: 420px;
    filter: drop-shadow(2px 2px 6px #363636);
}

.content-box {
    display: flex;
    height: fit-content;
}

.content-column {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.text-box {
    padding: 35px;
    box-sizing: border-box;
    background-color: white;
    border-radius: .25rem;
    height: fit-content;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.09)!important;
    width: 100%;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.text-box form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.text-box3 {
    padding: 35px;
    box-sizing: border-box;
    background-color: white;
    border-radius: .25rem;
    height: fit-content;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.09)!important;
    width: 100%;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    min-width: 465px;
}

.text-box3 form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: 100%;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.full-width {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.radio-group, .goal-options, .activity-options {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.radio-group-inline {
    display: flex;
    gap: 1em;
}

.radio-group label, .radio-group-inline label, .goal-options label, .activity-options label {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
}

.radio-group input[type="radio"], .radio-group-inline input[type="radio"], .goal-options input[type="radio"], .activity-options input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #78d578;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    background: transparent;
    display: inline-block;
    vertical-align: middle;
}

.radio-group input[type="radio"]:checked::before, .radio-group-inline input[type="radio"]:checked::before, .goal-options input[type="radio"]:checked::before, .activity-options input[type="radio"]:checked::before {
    content: '';
    display: block;
    width: .75em;
    height: .75em;
    border-radius: 50%;
    background: #78d578;
    margin: 3px;
}

.text-box2 {
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    height: fit-content;
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #ffffff;
    color: black;
    text-align: center;
    padding: 20px;
    z-index: 1;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline {
    font-size: 2.5em;
    color: forestgreen;
}

.sub-headline {
    font-size: 1.5em;
}

.description {
    font-size: 1.1em;
    line-height: 1.5;
}

.spacing {
    margin-top: 50px;
}

.button-spacing {
    margin-bottom: 10px;
}

.center {
    justify-content: center;
}

.w-100 {
    width: 100%;
}

.login-headline {
    background: #ededed;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.09)!important;
    clear: both;
    color: #868686;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 10px 15px;
    text-shadow: #fff 0 1px;
    width: 100%;
}

.input-icon {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0.5em;
    border-color: #78d578;
    border-style: solid;
}

.input-icon .material-icons {
    color: #89cdf0;
    padding: 10px;
    align-self: start;
}

.input-field {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
}

.image1 {
    position: absolute;
    height: 700px;
    left: -331px;
}

.logo-link {
    text-decoration: none;
    color: inherit;
    display: inline;
}

.logo-link:hover, .logo-link:focus {
    text-decoration: none;
    color: inherit;
}

.goal-activity-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    width: 100%;
}

.goal-options, .activity-options {
    flex-direction: column;
}
.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.user-info p {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1.1em;
}

.user-info i.material-icons {
    color: #89cdf0;
}

.info-line {
    font-size: 1.5em;
    text-align: center;
    line-height: 1.6;
}

.login-content {
    justify-content: center;
}

.hidden {
    visibility: hidden;
    width: 33%;
}

.day-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    overflow: hidden;
}

.day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    transition: opacity 0.3s ease, z-index 0.3s ease;
}

.day-container:hover {
    z-index: 10;
}

.day-container.faded {
    opacity: 0.5;
}

.day-container.hidden {
    display: none;
}

.day-container h2 {
    font-size: 2.5em;
    color: forestgreen;
    margin-bottom: 20px;
}

.day-container.small-day {
    transform: translateY(20px);
}

.day-container.small-day h2 {
    font-size: 2em;
}

.weekly-recipes-page .day-wrapper, .weekly-recipes-page .content {
    display: flex;
    justify-content: center;
    padding: 0 2em;
    max-width: 1200px;
    margin: auto;
    gap: 1em;
    padding-bottom: 2em;
}

.weekly-recipes-page .meal-box {
    background-color: white;
    border-radius: .25rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.09) !important;
    width: 100%;
    max-width: 500px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 300px;
    gap: 0.75em;
    cursor: pointer;
    transition: transform 0.3s ease, z-index 0.3s ease;
}

.weekly-recipes-page .meal-box:hover {
    transform: scale(1.05);
    z-index: 10;
}

.weekly-recipes-page .day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    transition: opacity 0.3s ease, z-index 0.3s ease;
}

.weekly-recipes-page .day-container:hover {
    z-index: 10;
}


.meal-box img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    filter: none;
}

.meal-box h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.meal-box p {
    font-size: 1.1em;
    padding: 0 10px 20px;
}

.weekly-recipes-page .navigation {
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.weekly-recipes-page .arrow {
    font-size: 5em !important;
    color: #3c3f40;
    transition: color 0.3s ease;
}

.weekly-recipes-page .arrow:hover {
    color: forestgreen;
    opacity: 1;
}

.weekly-recipes-page .arrow:active {
    color: #3c3f40;
    opacity: 1;
}


@media (max-width: 768px) {
    .meal-box {
        max-width: 100%;
    }

    .content {
        padding: 20px;
        gap: 1em;
    }

    .day-container h2 {
        font-size: 2em;
    }
}

.ingredient-result {
    display: inline-block;
    padding: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.ingredient-result:hover {
    background-color: #ddd;
}

.ingredient-results {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.selected-ingredient {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 5px 15px;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin: 5px;
}

.selected-ingredients {
    display: grid;
    gap: 10px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.selected-ingredient span {
    flex-grow: 1;
}

.remove-ingredient {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    transition: color 0.3s ease;
    color: darkgray;
}

.remove-ingredient:hover {
    color: red;
}

.success-message {
    text-align: center;
    margin-top: 20px;
    color: green;
}

.recipe-card-size {
    width: 800px;
}

.recipe-input-size {
    max-width: 130px;
}

.padding-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    padding: 0 10px 10px 10px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.09)!important;
    border-radius: .25rem;
}

.modal-content .close-button {
    align-self: flex-end;
    margin-top: -10px;
    cursor: pointer;
    font-size: 28px;
    color: #aaa;
    transition: color 0.3s ease-in-out;
}

.modal-content .close-button:hover {
    color: black;
}
.modal-content .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-content .button-container button {
    flex: 1;
    margin: 10px;
}

.modal-content h2 {
    margin: 0;
}

.modal-content p {
    line-height: 1.5;
}
.recipe-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    color: white;
}

.recipe-container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    gap: 2em;
}

.recipe-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Ensure the image container matches the height of the recipe details box */
}

.recipe-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: drop-shadow(2px 2px 6px #363636);
    max-height: 100%;
}

.cooking-time {
    margin: 10px 0 0 0; /* Margin to separate from image */
    color: black; /* Black text for cooking time */
}

.recipe-details-box {
    flex: 1;
}

.recipe-text-box {
    padding: 35px;
    box-sizing: border-box;
    background-color: #84c176; /* Specified green background */
    border-radius: .25rem;
    height: 100%;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.09) !important;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start; /* Align items to the left */
    color: white; /* White text inside the text box */
}

.recipe-text-box h3 {
    margin: 0;
    font-weight: bold; /* Bold titles */
}

.recipe-text-box p, .recipe-text-box ul {
    margin: 0; /* Remove margins from paragraphs and lists */
}

.recipe-text-box .method-list {
    list-style-type: disc;
    padding-left: 20px;
    line-height: 1.6;
}

.recipe-text-box .ingredients-list {
    list-style-type: disc;
    padding-left: 20px;
    line-height: 1.6;
}

.headline {
    margin: 0 0 20px 0; /* Remove top and side margins from the headline */
    font-weight: bold; /* Bold headline */
}