@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/4iCs6KVjbNBYlgoKfw72.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #edf7ee;
    font-family: Ubuntu, sans-serif!important;
}

.top-bar {
    background-color: #fdfdfd;
    color: #3c3f40;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.09)!important;
    place-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    max-width: 1140px;
    align-items: center;
}

.top-bar h1 {
    margin: 0;
    font-size: 24px;
}

.btn-primary {
    text-decoration: none;
    color: white;
    background-color: #78d578;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.09)!important;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #4eb74e;
}

.content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    max-width: 1140px;
    margin: auto;
    width: 100%;
    gap: 3em;
}

.content img {
    height: 420px;
}

.text-box {
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.09)!important;
    width: 100%;
}

.footer {
    background-color: #3c3f40;
    color: white;
    text-align: center;
    padding: 20px;
}