<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="content dashboard-content center">
    <div class="content-box">
        <div class="text-box3">
            <div class="headline">Velkommen tilbage,</div>
            <div class="sub-headline" th:text="${user.firstName} + ' ' + ${user.lastName}"></div>
            <div class="user-info">
                <div id="user-info-view">
                    <p><i class="material-icons">email</i> <strong>Email:</strong> <span th:text="${user.email}"></span></p>
                    <p><i class="material-icons">cake</i> <strong>Alder:</strong>
                        <span th:text="${user.age}"></span>
                    </p>
                    <p><i class="material-icons">wc</i> <strong>Køn:</strong>
                        <span th:text="${user.gender} == 'M' ? 'Mand' : 'Kvinde'"></span>
                    </p>
                    <p><i class="material-icons">fitness_center</i> <strong>Vægt:</strong>
                        <span th:text="${user.weight}"></span> kg
                    </p>
                    <p><i class="material-icons">height</i> <strong>Højde:</strong>
                        <span th:text="${user.height}"></span> cm
                    </p>
                    <p><i class="material-icons">directions_run</i> <strong>Aktivitetsniveau:</strong>
                        <span th:text="${activityLevelMap[user.activityLevel]}"></span>
                    </p>
                    <p><i class="material-icons">flag</i> <strong>Mål:</strong>
                        <span th:text="${goalMap[user.goal]}"></span>
                    </p>
                    <p><i class="material-icons">check_circle</i> <strong>Abonnent:</strong>
                        <span th:text="${user.subscriber ? 'Ja' : 'Nej'}"></span>
                    </p>
                    <p><i class="material-icons">local_dining</i> <strong>Kaloriebehov:</strong>
                        <span th:text="${#numbers.formatDecimal(calorieNeeds, 0, 0)} + ' kcal'"></span>
                    </p>
                </div>
                <form id="user-form" th:action="@{/update-user}" method="post" style="display:none;">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <p><i class="material-icons">email</i> <strong>Email:</strong> <span th:text="${user.email}"></span></p>
                    <p><i class="material-icons">cake</i> <strong>Alder:</strong>
                        <input type="number" name="age" th:value="${user.age}" required/>
                    </p>
                    <p><i class="material-icons">wc</i> <strong>Køn:</strong>
                        <select name="gender">
                            <option value="M" th:selected="${user.gender == 'M'}">Mand</option>
                            <option value="F" th:selected="${user.gender == 'F'}">Kvinde</option>
                        </select>
                    </p>
                    <p><i class="material-icons">fitness_center</i> <strong>Vægt:</strong>
                        <input type="number" step="0.1" name="weight" th:value="${user.weight}" required/> kg
                    </p>
                    <p><i class="material-icons">height</i> <strong>Højde:</strong>
                        <input type="number" step="0.1" name="height" th:value="${user.height}" required/> cm
                    </p>
                    <p><i class="material-icons">directions_run</i> <strong>Aktivitetsniveau:</strong>
                        <select name="activityLevel">
                            <option value="0" th:selected="${user.activityLevel == 0}">Ingen eller meget lidt aktiv</option>
                            <option value="1" th:selected="${user.activityLevel == 1}">1-2 gange om ugen</option>
                            <option value="2" th:selected="${user.activityLevel == 2}">3-5 gange om ugen</option>
                            <option value="3" th:selected="${user.activityLevel == 3}">6-7 gange om ugen</option>
                            <option value="4" th:selected="${user.activityLevel == 4}">To gange om dagen</option>
                        </select>
                    </p>
                    <p><i class="material-icons">flag</i> <strong>Mål:</strong>
                        <select name="goal">
                            <option value="0" th:selected="${user.goal == 0}">Vægttab</option>
                            <option value="1" th:selected="${user.goal == 1}">Vægtøgning</option>
                            <option value="2" th:selected="${user.goal == 2}">Muskelopbygning</option>
                            <option value="3" th:selected="${user.goal == 3}">Vedligehold vægt</option>
                        </select>
                    </p>
                    <p><i class="material-icons">check_circle</i> <strong>Abonnent:</strong>
                        <span th:text="${user.subscriber ? 'Ja' : 'Nej'}"></span>
                    </p>
                    <p><i class="material-icons">local_dining</i> <strong>Kaloriebehov:</strong>
                        <span th:text="${#numbers.formatDecimal(calorieNeeds, 0, 0)} + ' kcal'"></span>
                    </p>
                    <button type="submit" class="btn-primary w-100 button-spacing">Opdater Information</button>
                </form>
                <button id="edit-button" class="btn-primary w-100">Rediger</button>
            </div>
        </div>
    </div>
    <div class="content-box">
        <div class="text-box">
            <button id="checkout-button" class="btn-primary w-100">Betal med Stripe</button>
            <button th:if="${#authorization.expression('hasRole(''ROLE_SUBSCRIBER'')')}" id="unsubscribe-button" class="btn-primary w-100">Unsubscribe</button>
            <input type="hidden" id="user-id" th:value="${user.userId}">
            <input type="hidden" id="subscription-id" th:value="${user.subscriptionId}">
            <!-- Knapper kan nu tilføjes for roller eksempel: -->
            <button th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:onclick="|window.location.href='@{/opret-medarbejder}'|" class="btn-primary color-blue w-100">Opret medarbejder</button>
            <button th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'', ''ROLE_EMPLOYEE'')')}" th:onclick="|window.location.href='@{/add-ingredients}'|" class="btn-primary color-blue w-100">Tilføj ingredienser</button>
            <button th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'', ''ROLE_EMPLOYEE'')')}" th:onclick="|window.location.href='@{/recipe-creation}'|" class="btn-primary color-blue w-100">Tilføj opskrift</button>
            <button th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'', ''ROLE_EMPLOYEE'', ''ROLE_SUBSCRIBER'')')}" th:onclick="|window.location.href='@{/weekly-recipes}'|" class="btn-primary color-blue w-100">Ugens Opskrifter</button>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

<script>
    document.getElementById('edit-button').addEventListener('click', function () {
        var form = document.getElementById('user-form');
        var view = document.getElementById('user-info-view');
        if (form.style.display === 'none') {
            form.style.display = 'block';
            view.style.display = 'none';
            this.textContent = 'Annuller';
            this.classList.add('color-red');
        } else {
            form.style.display = 'none';
            view.style.display = 'block';
            this.textContent = 'Rediger';
            this.classList.remove('color-red');
        }
    });

    const stripePublicKey = 'pk_test_51PGz21BcOCSFJlaS9GnQrmz3wFcSw82xsDryxcqWPVb0orDtOWKFiB0clb18lk2CC67VdTnJ7cfjWFCBbudi1Gms00x9Tgqpzd';
    const stripe = Stripe(stripePublicKey);

    document.getElementById('checkout-button').addEventListener('click', function () {
        const userId = document.getElementById('user-id').value;
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        fetch('/stripe/create-checkout-session', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            },
            body: JSON.stringify({
                priceId: 'price_1PGznYBcOCSFJlaSBsL8PYf2',
                userId: userId
            }),
        })
            .then(response => response.json())
            .then(session => {
                if (session.error) {
                    alert(session.error);
                } else {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });

    document.getElementById('unsubscribe-button').addEventListener('click', function () {
        const subscriptionId = document.getElementById('subscription-id').value;
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        console.log('Subscription ID:', subscriptionId); // Debugging line

        fetch('/stripe/cancel-subscription', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            },
            body: JSON.stringify({
                subscriptionId: subscriptionId
            }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    alert('Subscription will be cancelled at the end of the current period.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>
</body>
</html>
