<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="content">
    <div class="content-box">
        <div class="text-box2">
            <div class="headline">Din billige vej til en skræddersyet kostplan</div>
            <div class="sub-headline">Prøv de første 30 dage gratis</div>
            <div class="description">Få ugentlige kostplaner, skræddersyet til dine mål i de første 30 dage til 0 kr, helt uden binding. Herefter kun 49 kr. om uge</div>
            <a href="/register">
                <button class="btn-primary-large spacing">Tilmeld dig i dag!</button>
            </a>
        </div>
        <img src="/images/food-pyramid-1.png" alt="Descriptive Image Text">
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
