<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="content login-content center">
    <div class="content-box">
        <div class="text-box">
            <div class="login-headline">Login</div>
            <form th:action="@{/login}" method="post">
                <div class="input-icon">
                    <i class="material-icons">email</i>
                    <input class="input-field" type="text" name="username" placeholder="Indtast Email Adresse" required/>
                </div>
                <div class="input-icon">
                    <i class="material-icons">lock</i>
                    <input class="input-field" type="password" name="password" placeholder="Adgangskode" required/>
                </div>
                <input class="btn-primary w-100" type="submit" value="Log ind"/>
                <button class="btn-primary color-blue w-100" onclick="window.location.href='/register'">Registerer</button>
                <div th:if="${param.error}">
                    Ugyldig Email eller Adgangskode.
                </div>
            </form>
        </div>
    </div>
</div>
<img class="image1" src="/images/image.png" alt="Beskrivende billede tekst">
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
