<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="top-bar">
    <div class="container">
        <h1>Min Kostplan</h1>
    </div>
</div>
<div class="content center">
    <div class="content-box">
        <div class="text-box">
            <div class="headline login-headline">Login</div>
            <div class="input-icon">
                <i class="material-icons">email</i>
                <input class="input-field" type="text" name="username" placeholder="Indtast Email Addresse"/>
            </div>
            <div class="input-icon">
                <i class="material-icons">lock</i>
                <input class="input-field" type="password" name="password" placeholder="Kodeord"/>
            </div>
            <input class="btn-primary w-100" type="submit" value="Log ind"/>
            <a class="btn-secondary w-100" th:href="@{/register}">Registerer</a>
        </div>
    </div>
</div>
<div class="footer">
    <p>Copyright © 2024 Min Kostplan</p>
</div>
</body>
</html>
