<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="top-bar">
    <div class="container">
        <h1>Min Kostplan</h1>
    </div>
</div>
<div class="content center">
    <div class="content-box">
        <div class="text-box">
            <div class="headline">Login</div>
            <input class="input-field" type="text" name="username" placeholder="Indtast Email Addresse" th:action="@{/login}" method="post"/>
            <input class="input-field" type="password" name="password" placeholder="Kodeord"/>
            <input class="btn-primary" type="submit" value="Log ind"/>
            <a class="btn-secondary" th:href="@{/register}">Registerer</a>
        </div>
    </div>
</div>
</body>
</html>
