<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-container {
            text-align: center;
        }

        .title {
            font-size: 24px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="title">Skab din vej til sundhed og velvære</div>
<div class="form-container">
    <div class="label">Minkostplan er en dansk virksomhed, der har specialiseret sig i sundhedsfremmende kostplaner.

        Vi tror på, at alle fortjener muligheden for at forbedre deres liv, familier og samfund gennem sund kost og ernæring, uanset baggrund eller bopæl. Vores mission er at gøre sund spisning let tilgængelig for alle, så enhver kan opnå deres sundheds- og fitnessmål.

        Vi arbejder tæt sammen med kvalificerede og dygtige kokke for at skabe sunde og velsmagende opskrifter, der er skræddersyet til dine individuelle behov og mål. Vores mål er at udvide adgangen til sundhedsfremmende kostplaner og skabe øget opmærksomhed om vigtigheden af en balanceret kost og ernæring.

        Vi er dedikerede til at støtte vores kunder på deres rejse mod en sundere livsstil og ser frem til at være en del af din rejse mod en forbedret sundhed og velvære.</div>
    <div class="label">Info:

        Farimagsvej 45, 4700 Næstved,
        kontakt@minkostplan.com
        </div>
</div>
</body>
</html>
