<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Employment Status</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="content login-content center">
    <div class="content-box">
        <div class="text-box">
            <div class="login-headline">Opdater Ansættelses Status</div>
            <form action="/update-employment-status" method="POST">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="input-icon">
                    <i class="material-icons">email</i>
                    <input class="input-field" type="email" id="email" name="email" placeholder="Indtast email addresse" required>
                </div>
                <div class="radio-group">
                    <p>
                        <label class="radio-group-inline">
                            <input name="employmentStatus" type="radio" value="0" required />
                            <span>Fjern ansættelse</span>
                        </label>
                    </p>
                    <p>
                        <label class="radio-group-inline">
                            <input name="employmentStatus" type="radio" value="1" required />
                            <span>Ansat</span>
                        </label>
                    </p>
                    <p>
                        <label class="radio-group-inline">
                            <input name="employmentStatus" type="radio" value="2" required />
                            <span>Admin</span>
                        </label>
                    </p>
                </div>
                <input class="btn-primary w-100" type="submit" value="Opdater"/>
            </form>
            <div th:if="${message}" class="message-container">
                <span th:text="${message}" style="color:green"></span>
            </div>
            <div th:if="${error}" class="error-container">
                <span th:text="${error}" style="color:red"></span>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
