<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title th:text="${recipe.title}">Recipe Title</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="content recipe-content">
    <div class="header-flex-container">
        <a th:href="@{/weekly-recipes}" class="back-button" aria-label="Tilbage">
            <i class="material-icons arrow">chevron_left</i>
        </a>
        <h1 class="headline">
            <span th:if="${recipe.mealTime == 'Breakfast'}">Morgenmad:</span>
            <span th:if="${recipe.mealTime == 'Lunch'}">Frokost:</span>
            <span th:if="${recipe.mealTime == 'Dinner'}">Aftensmad:</span>
            <span th:text="${recipe.title}"></span>
        </h1>
    </div>
    <div class="recipe-container">
        <div class="recipe-image">
            <img draggable="false" th:src="@{${recipe.imageUrl}}" alt="Recipe Image">
            <p class="cooking-time"><strong>Madlavningstid:</strong> <span th:text="${recipe.cookingTime}">Cooking Time</span></p>
        </div>
        <div class="recipe-details-box">
            <div class="text-box recipe-text-box">
                <h3>Ingredienser:</h3>
                <ul class="ingredients-list">
                    <li th:each="ingredient : ${recipe.ingredients}">
                        <span th:utext="${#numbers.formatDecimal(ingredient.quantity, 0, 0)} + 'g - &nbsp;&nbsp;' + ${ingredient.name}">Ingredient Name</span>
                    </li>
                </ul>
                <!-- Add button to add ingredients to shopping list -->
                <button onclick="addToShoppingList()" class="add-to-list-button">Tilføj ingredienser til indkøbsliste</button>

                <h3>Fremgangsmåde:</h3>
                <ul class="method-list">
                    <li th:each="sentence : ${methodSentences}">
                        <span th:text="${sentence}">Method Sentence</span>
                    </li>
                </ul>
                <h3>Næringsindhold:</h3>
                <ul class="ingredients-list">
                    <li><span th:text="'Kalorier: '"></span><span th:text="${#numbers.formatDecimal(recipe.adjustedCalories, 0, 0)}">Adjusted Calories</span></li>
                    <li><span th:text="'Protein: '"></span><span th:text="${#numbers.formatDecimal(recipe.totalProtein, 0, 0)}">Total Protein</span>g</li>
                    <li><span th:text="'Fedt: '"></span><span th:text="${#numbers.formatDecimal(recipe.totalFat, 0, 0)}">Total Fat</span>g</li>
                    <li><span th:text="'Kulhydrater: '"></span><span th:text="${#numbers.formatDecimal(recipe.totalCarbohydrates, 0, 0)}">Total Carbohydrates</span>g</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

<script>
    function addToShoppingList() {
        const recipeId = [[${recipe.recipeId}]];
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        fetch(`/add-to-shopping-list/${recipeId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            }
        }).then(response => {
            if (response.ok) {
                alert('Ingredienser tilføjet til indkøbslisten!');
            } else {
                alert('Fejl ved tilføjelse af ingredienser til indkøbslisten.');
            }
        });
    }
</script>

</body>
</html>
