<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${recipe.title}">Recipe Title</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1 th:text="${recipe.title}">Recipe Title</h1>
<img th:src="@{/images/{imageUrl}(imageUrl=${recipe.imageUrl})}" alt="Recipe Image">
<p th:text="${recipe.description}">Recipe Description</p>
<h3>Ingredients</h3>
<ul>
    <li th:each="ingredient : ${recipe.ingredients}">
        <span th:text="${ingredient.name}">Ingredient Name</span>:
        <span th:text="${ingredient.quantity}">Quantity</span>g,
        <span th:text="${ingredient.calories}">Calories</span>,
        <span th:text="${ingredient.fat}">Fat</span>g,
        <span th:text="${ingredient.protein}">Protein</span>g,
        <span th:text="${ingredient.carbohydrate}">Carbohydrates</span>g
    </li>
</ul>
<h3>Method</h3>
<p th:text="${recipe.method}">Recipe Method</p>
<p><strong>Cooking Time:</strong> <span th:text="${recipe.cookingTime}">Cooking Time</span></p>
<p><strong>Meal Time:</strong> <span th:text="${recipe.mealTime}">Meal Time</span></p>
<p><strong>Adjusted Calories:</strong> <span th:text="${recipe.adjustedCalories}">Adjusted Calories</span></p>
<p><strong>Total Protein:</strong> <span th:text="${recipe.totalProtein}">Total Protein</span></p>
<p><strong>Total Fat:</strong> <span th:text="${recipe.totalFat}">Total Fat</span></p>
<p><strong>Total Carbohydrates:</strong> <span th:text="${recipe.totalCarbohydrates}">Total Carbohydrates</span></p>
<p><strong>Day:</strong> <span th:text="${recipe.day}">Day</span></p>
</body>
</html>
