<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Created</title>
</head>
<body>
<h1>Recipe Created Successfully</h1>
<p>Your recipe has been created successfully!</p>
<p th:text="'Title: ' + ${recipe.title}"></p>
<p th:text="'Description: ' + ${recipe.description}"></p>
<p th:text="'Ingredients: ' + ${recipe.ingredient}"></p>
<p th:text="'Method: ' + ${recipe.method}"></p>
<p th:text="'Cooking Time: ' + ${recipe.cookingTime}"></p>
<p th:if="${recipe.imageUrl}">
    <img th:src="${recipe.imageUrl}" alt="Recipe Image"/>
</p>
</form>
<button onclick="window.location.href='/all-recipes'">Tag mig til alle opskrifter</button>
</body>
</html>