<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Recipe</title>
</head>
<body>
<h1>Create a New Recipe</h1>
<form th:action="@{/recipe-creation}" method="post" enctype="multipart/form-data">
    <label for="title">Recipe Name:</label>
    <input type="text" id="title" name="title" required><br>

    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea><br>

    <label for="mealTime">Meal Time:</label>
    <select id="mealTime" name="mealTime" required>
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
    </select><br>

    <label for="day">Day:</label>
    <input type="date" id="day" name="day" required><br>

    <label for="cookingTime">Cooking Time:</label>
    <select id="cookingTime" name="cookingTime" required>
        <option value="5 min">5 min</option>
        <option value="10 min">10 min</option>
        <option value="15 min">15 min</option>
        <option value="20 min">20 min</option>
        <option value="25 min">25 min</option>
        <option value="30 min">30 min</option>
        <option value="35 min">35 min</option>
        <option value="40 min">40 min</option>
        <option value="45 min">45 min</option>
        <option value="50 min">50 min</option>
        <option value="55 min">55 min</option>
        <option value="60 min">60 min</option>
    </select><br>

    <label for="ingredients">Ingredients:</label>
    <div id="ingredients">
        <div th:each="ingredient : ${ingredientsList}">
            <input type="checkbox" id="ingredient_${ingredient.ingredientId}" th:value="${ingredient.ingredientId}" th:text="${ingredient.name}" name="ingredient"/>
            <input type="number" name="quantities" placeholder="Quantity (g)" required/><br>
        </div>
    </div><br>

    <label for="instructions">Instructions:</label>
    <textarea id="instructions" name="instructions" required></textarea><br>

    <label for="imageFile">Image:</label>
    <input type="file" id="imageFile" name="imageFile" required><br>

    <button type="submit">Create Recipe</button>
</form>
<button onclick="window.location.href='/all-recipes'">View All Recipes</button>
</body>
</html>
