<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrer</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="top-bar">
    <div class="container">
        <a href="/" class="logo-link">
            <h1>Min Kostplan</h1>
        </a>
    </div>
</div>
<div class="content center">
    <div class="content-box">
        <div class="text-box">
            <div class="login-headline">Registrer</div>
            <form th:action="@{/register}" method="post">
                <div class="form-grid">
                    <div class="left-column">
                        <div class="input-icon">
                            <i class="material-icons">person</i>
                            <input class="input-field" type="text" name="firstName" placeholder="Fornavn" required/>
                        </div>
                        <div class="input-icon">
                            <i class="material-icons">person</i>
                            <input class="input-field" type="text" name="lastName" placeholder="Efternavn" required/>
                        </div>
                        <div class="input-icon">
                            <i class="material-icons">email</i>
                            <input class="input-field" type="email" name="email" placeholder="E-mailadresse" required/>
                        </div>
                        <div class="input-icon">
                            <i class="material-icons">lock</i>
                            <input class="input-field" type="password" name="password" placeholder="Adgangskode" required/>
                        </div>
                        <div class="input-icon">
                            <i class="material-icons">lock</i>
                            <input class="input-field" type="password" name="confirmPassword" placeholder="Bekræft adgangskode" required/>
                        </div>
                    </div>
                    <div class="right-column">
                        <div class="input-icon">
                            <i class="material-icons">calendar_today</i>
                            <input class="input-field" type="number" name="age" placeholder="Alder" required/>
                        </div>
                        <div class="input-icon">
                            <i class="material-icons">wc</i>
                            <div class="radio-group-inline">
                                <label><input type="radio" name="gender" value="male" required> Mand</label>
                                <label><input type="radio" name="gender" value="female" required> Kvinde</label>
                            </div>
                        </div>
                        <div class="input-icon">
                            <i class="material-icons">fitness_center</i>
                            <input class="input-field" type="number" step="0.1" name="weight" placeholder="Vægt (kg)" required/>
                        </div>
                        <div class="input-icon">
                            <i class="material-icons">height</i>
                            <input class="input-field" type="number" step="0.1" name="height" placeholder="Højde (cm)" required/>
                        </div>
                    </div>
                        <div class="full-width">
                            <label>Hvad er dit mål?</label>
                            <div class="goal-options">
                                <label><input type="radio" name="goal" value="weight_loss" required> Vægttab</label>
                                <label><input type="radio" name="goal" value="weight_gain" required> Vægtøgning</label>
                                <label><input type="radio" name="goal" value="gain_muscle" required> Muskelopbygning</label>
                                <label><input type="radio" name="goal" value="maintain_weight" required> Vedligehold vægt</label>
                            </div>
                        </div>
                        <div class="full-width">
                            <label>Aktivitetsniveau:</label>
                            <div class="activity-options">
                                <label><input type="radio" name="activityLevel" value="none" required> Ingen eller meget lidt aktiv</label>
                                <label><input type="radio" name="activityLevel" value="1-2" required> 1-2 gange om ugen</label>
                                <label><input type="radio" name="activityLevel" value="3-5" required> 3-5 gange om ugen</label>
                                <label><input type="radio" name="activityLevel" value="6-7" required> 6-7 gange om ugen</label>
                                <label><input type="radio" name="activityLevel" value="twice_day" required> To gange om dagen</label>
                            </div>
                        </div>
                    </div>
                <div class="full-width">
                    <input class="btn-primary w-100" type="submit" value="Registrer"/>
                    <a class="btn-secondary w-100" th:href="@{/login}">Har du allerede en bruger? Login</a>
                </div>
            </form>
        </div>
    </div>
</div>
<img class="image1" src="/images/image.png" alt="Beskrivende billede tekst">
<div class="footer">
    <p>Copyright © 2024 Min Kostplan</p>
</div>
</body>
</html>
