<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrer</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="scrollable-content">
    <div class="content-wrapper">
        <div class="content center">
            <div class="content-box">
                <div class="text-box">
                    <div class="login-headline">Registrer</div>
                    <div id="message-container" class="alert" style="display: none;">
                        <span id="message-text"></span>
                    </div>
                    <form th:action="@{/register}" method="post" th:object="${user}" id="register-form">
                        <div class="form-grid">
                            <div class="left-column">
                                <div class="input-icon" data-placeholder="Fornavn:">
                                    <i class="material-icons">person</i>
                                    <input class="input-field" type="text" th:field="*{firstName}" placeholder="Fornavn" required/>
                                </div>
                                <div class="input-icon" data-placeholder="Efternavn:">
                                    <i class="material-icons">person</i>
                                    <input class="input-field" type="text" th:field="*{lastName}" placeholder="Efternavn" required/>
                                </div>
                                <div class="input-icon" data-placeholder="E-mail:">
                                    <i class="material-icons">email</i>
                                    <input class="input-field" type="email" th:field="*{email}" placeholder="E-mail" required id="email"/>
                                </div>
                                <div class="input-icon" data-placeholder="Adgangskode:">
                                    <i class="material-icons">lock</i>
                                    <input class="input-field" type="password" th:field="*{password}" placeholder="Adgangskode" required/>
                                </div>
                            </div>
                            <div class="right-column">
                                <div class="input-icon" data-placeholder="Fødselsdag:">
                                    <i class="material-icons">calendar_today</i>
                                    <input class="input-field" type="date" th:field="*{birthday}" placeholder="Fødselsdag" required/>
                                </div>
                                <div class="input-icon" data-placeholder="Køn:">
                                    <i class="material-icons">wc</i>
                                    <div class="radio-group-inline">
                                        <label><input type="radio" th:field="*{gender}" value="M" required> Mand</label>
                                        <label><input type="radio" th:field="*{gender}" value="F" required> Kvinde</label>
                                    </div>
                                </div>
                                <div class="input-icon" data-placeholder="Vægt (kg):">
                                    <i class="material-icons">fitness_center</i>
                                    <input class="input-field" type="number" step="0.1" th:field="*{weight}" placeholder="Vægt (kg)" required/>
                                </div>
                                <div class="input-icon" data-placeholder="Højde (cm):">
                                    <i class="material-icons">height</i>
                                    <input class="input-field" type="number" step="0.1" th:field="*{height}" placeholder="Højde (cm)" required/>
                                </div>
                            </div>
                            <div class="full-width">
                                <label>Hvad er dit mål?</label>
                                <div class="goal-options">
                                    <label><input type="radio" th:field="*{goal}" value="0" required> Vægttab</label>
                                    <label><input type="radio" th:field="*{goal}" value="1" required> Vægtøgning</label>
                                    <label><input type="radio" th:field="*{goal}" value="2" required> Muskelopbygning</label>
                                    <label><input type="radio" th:field="*{goal}" value="3" required> Vedligehold vægt</label>
                                </div>
                            </div>
                            <div class="full-width">
                                <label>Aktivitetsniveau:</label>
                                <div class="activity-options">
                                    <label><input type="radio" th:field="*{activityLevel}" value="0" required> Ingen eller meget lidt aktiv</label>
                                    <label><input type="radio" th:field="*{activityLevel}" value="1" required> 1-2 gange om ugen</label>
                                    <label><input type="radio" th:field="*{activityLevel}" value="2" required> 3-5 gange om ugen</label>
                                    <label><input type="radio" th:field="*{activityLevel}" value="3" required> 6-7 gange om ugen</label>
                                    <label><input type="radio" th:field="*{activityLevel}" value="4" required> To gange om dagen</label>
                                </div>
                            </div>
                        </div>
                        <div class="full-width">
                            <input class="btn-primary w-100" type="submit" value="Registrer"/>
                            <button class="btn-primary color-blue w-100" onclick="window.location.href='/login'">Har du allerede en bruger? Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <img draggable="false" class="image1" src="/images/image.png" alt="Beskrivende billede tekst">
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>
<script>
    /**
     * Validerer registreringsformularen.
     */
    document.getElementById("register-form").addEventListener("submit", function(event) {
        event.preventDefault();
        const passwordField = document.querySelector('input[type="password"]');
        const birthDateField = document.querySelector('input[type="date"]');
        const weightField = document.querySelector('input[name="weight"]');
        const heightField = document.querySelector('input[name="height"]');
        const emailField = document.getElementById('email');
        const firstNameField = document.querySelector('input[name="firstName"]');
        const lastNameField = document.querySelector('input[name="lastName"]');
        const messageContainer = document.getElementById('message-container');
        const messageText = document.getElementById('message-text');

        const today = new Date();
        const birthDate = new Date(birthDateField.value);
        let age = today.getFullYear() - birthDate.getFullYear();
        const m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            age--;
        }

        let errorMessage = '';

        // Valider adgangskodens længde
        if (passwordField.value.length < 8) {
            errorMessage = "Adgangskoden skal være mindst 8 tegn lang.";
        }

        // Valider brugerens alder
        if (!errorMessage && age < 14) {
            errorMessage = "Du skal være mindst 14 år gammel.";
        }
        if (!errorMessage && age > 130) {
            errorMessage = "Du kan ikke være ældre end 130 år.";
        }

        // Valider brugerens højde
        if (!errorMessage && heightField.value < 50) {
            errorMessage = "Din højde skal være mindst 50 cm.";
        }
        if (!errorMessage && heightField.value > 250) {
            errorMessage = "Din højde kan ikke være mere end 250 cm.";
        }

        // Valider brugerens vægt
        if (!errorMessage && weightField.value < 20) {
            errorMessage = "Din vægt skal være mindst 20 kg.";
        }
        if (!errorMessage && weightField.value > 600) {
            errorMessage = "Din vægt kan ikke være mere end 600 kg.";
        }

        // Valider at navne kun indeholder bogstaver
        const namePattern = /^[A-Za-zÆØÅæøå\s]+$/;
        if (!errorMessage && (!namePattern.test(firstNameField.value) || !namePattern.test(lastNameField.value))) {
            errorMessage = "Navne må kun indeholde bogstaver.";
        }

        if (errorMessage) {
            messageText.textContent = errorMessage;
            messageContainer.classList.add('alert-danger');
            messageContainer.style.display = 'block';
            setTimeout(() => {
                messageContainer.style.display = 'none';
            }, 3000);
        } else {
            console.log('Checking email:', emailField.value);
            fetch(`/check-email?email=${encodeURIComponent(emailField.value)}`)
                .then(response => {
                    console.log('Response received:', response);
                    return response.json();
                })
                .then(data => {
                    console.log('Data received:', data);
                    if (data.exists) {
                        messageText.textContent = "E-mailen er allerede registreret.";
                        messageContainer.classList.add('alert-danger');
                        messageContainer.style.display = 'block';
                        setTimeout(() => {
                            messageContainer.style.display = 'none';
                        }, 3000);
                    } else {
                        if (confirm("Bruger oprettet")) {
                            document.getElementById("register-form").submit();
                        }
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    messageText.textContent = 'Der opstod en fejl ved kontrol af e-mailen.';
                    messageContainer.classList.add('alert-danger');
                    messageContainer.style.display = 'block';
                    setTimeout(() => {
                        messageContainer.style.display = 'none';
                    }, 3000);
                });
        }
    });
</script>
</body>
</html>
