<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Shopping List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .bought {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Shopping List</h1>
    <ul class="list-group" id="shopping-list">
        <!-- Shopping list items will be injected here by Thymeleaf -->
        <th:block th:each="ingredient : ${shoppingList}">
            <li class="list-group-item d-flex justify-content-between align-items-center" th:id="'ingredient-' + ${ingredient.ingredientId}">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" th:id="'checkbox-' + ${ingredient.ingredientId}" th:checked="${ingredient.bought}" th:onclick="'updateBoughtStatus(' + ${ingredient.ingredientId} + ', this.checked)'">
                    <label class="custom-control-label" th:for="'checkbox-' + ${ingredient.ingredientId}" th:text="${ingredient.name}" th:classappend="${ingredient.bought ? ' bought' : ''}"></label>
                </div>
                <span class="badge badge-primary badge-pill" th:text="${#numbers.formatDecimal(ingredient.quantity, 0, 0)}"></span>
            </li>
        </th:block>
    </ul>
</div>

<script>
    function updateBoughtStatus(ingredientId, bought) {
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        fetch('/update-bought-status', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken // Add the CSRF token header
            },
            body: JSON.stringify({
                ingredientId: ingredientId,
                bought: bought
            })
        })
            .then(response => response.text())
            .then(data => {
                console.log(data);
                const label = document.querySelector('label[for="checkbox-' + ingredientId + '"]');
                if (bought) {
                    label.classList.add('bought');
                } else {
                    label.classList.remove('bought');
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>

</body>
</html>
