<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ugens Opskrifter</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body class="weekly-recipes-page">
<div th:replace="~{fragments/header :: header}"></div>
<div class="scrollable-content">
    <div class="content-wrapper">
        <div class="tabs-container center">
            <div class="tabs">
                <button class="tablink active" onclick="openTab(event, 'Breakfast')">Morgenmad</button>
                <button class="tablink" onclick="openTab(event, 'Lunch')">Frokost</button>
                <button class="tablink" onclick="openTab(event, 'Dinner')">Aftensmad</button>
            </div>
        </div>
        <div class="content center">
            <div id="Breakfast" class="tabcontent grid-container active">
                <div th:each="recipe : ${breakfastRecipes}">
                    <div class="meal-box" th:classappend="${!isSubscriber} ? 'meal-box-disabled' : ''" th:onclick="${isSubscriber} ? |location.href='@{/recipe/{id}(id=${recipe.recipeId})}'| : ''">
                        <img draggable="false" th:src="@{${recipe.imageUrl}}" alt="Billede af [[${recipe.mealTime}]]">
                        <button class="favorite-btn" th:classappend="${recipe.favorite} ? 'favorite' : ''" th:onclick="toggleFavorite(event, [[${recipe.recipeId}]])">
                            <span class="material-icons" th:text="${recipe.favorite} ? 'favorite' : 'favorite_border'">favorite_border</span>
                        </button>
                        <div class="padding-container">
                            <div class="bold" th:text="${recipe.title}"></div>
                            <div th:text="${recipe.description}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Lunch" class="tabcontent grid-container">
                <div th:each="recipe : ${lunchRecipes}">
                    <div class="meal-box" th:classappend="${!isSubscriber} ? 'meal-box-disabled' : ''" th:onclick="${isSubscriber} ? |location.href='@{/recipe/{id}(id=${recipe.recipeId})}'| : ''">
                        <img draggable="false" th:src="@{${recipe.imageUrl}}" alt="Billede af [[${recipe.mealTime}]]">
                        <button class="favorite-btn" th:classappend="${recipe.favorite} ? 'favorite' : ''" th:onclick="toggleFavorite(event, [[${recipe.recipeId}]])">
                            <span class="material-icons" th:text="${recipe.favorite} ? 'favorite' : 'favorite_border'">favorite_border</span>
                        </button>
                        <div class="padding-container">
                            <div class="bold" th:text="${recipe.title}"></div>
                            <div th:text="${recipe.description}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Dinner" class="tabcontent grid-container">
                <div th:each="recipe : ${dinnerRecipes}">
                    <div class="meal-box" th:classappend="${!isSubscriber} ? 'meal-box-disabled' : ''" th:onclick="${isSubscriber} ? |location.href='@{/recipe/{id}(id=${recipe.recipeId})}'| : ''">
                        <img draggable="false" th:src="@{${recipe.imageUrl}}" alt="Billede af [[${recipe.mealTime}]]">
                        <button class="favorite-btn" th:classappend="${recipe.favorite} ? 'favorite' : ''" th:onclick="toggleFavorite(event, [[${recipe.recipeId}]])">
                            <span class="material-icons" th:text="${recipe.favorite} ? 'favorite' : 'favorite_border'">favorite_border</span>
                        </button>
                        <div class="padding-container">
                            <div class="bold" th:text="${recipe.title}"></div>
                            <div th:text="${recipe.description}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>
<!-- Payment Modal -->
<div class="payment-modal" id="paymentModal" th:if="${!isSubscriber}">
    <div class="payment-modal-content">
        <h2>Adgang kræver abonnement</h2>
        <p>For at få adgang til ugens opskrifter, skal du have et aktivt abonnement.</p>
        <button id="checkout-button" class="btn-primary">Abonnér med Stripe</button>
    </div>
</div>

<!-- Skjult input til lagring af bruger-id -->
<input type="hidden" id="user-id" th:value="${user.userId}">

<script>
    /**
     * Åbner en specifik fane og skjuler de andre.
     *
     * @param {Event} evt - Klik eventet.
     * @param {string} mealTime - Navnet på måltidstypen.
     */
    function openTab(evt, mealTime) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none"; // Skjul alt faneindhold
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active"); // Fjern aktiv klasse fra alle faner
        }
        document.getElementById(mealTime).style.display = "grid"; // Vis det aktuelle faneindhold
        evt.currentTarget.classList.add("active"); // Tilføj aktiv klasse til den aktuelle fane
    }

    // Standardåben fane
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelector(".tablink.active").click();
    });

    // Stripe public key
    const stripePublicKey = 'pk_test_51PGz21BcOCSFJlaS9GnQrmz3wFcSw82xsDryxcqWPVb0orDtOWKFiB0clb18lk2CC67VdTnJ7cfjWFCBbudi1Gms00x9Tgqpzd';
    const stripe = Stripe(stripePublicKey);

    // Håndter Stripe betalingsknap klik
    document.addEventListener('DOMContentLoaded', function () {
        var checkoutButton = document.getElementById('checkout-button');

        if (checkoutButton) {
            checkoutButton.addEventListener('click', function () {
                const userId = parseInt(document.getElementById('user-id').value); // Sørg for at userId er et heltal
                const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
                const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

                if (!csrfToken || !csrfHeader) {
                    console.error('CSRF token eller header ikke fundet');
                    return;
                }

                fetch('/stripe/create-checkout-session', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        [csrfHeader]: csrfToken
                    },
                    body: JSON.stringify({
                        priceId: 'price_1POGpbBcOCSFJlaSnyv9mEP0',
                        userId: userId
                    }),
                })
                    .then(response => response.json())
                    .then(session => {
                        if (session.error) {
                            alert(session.error);
                        } else {
                            return stripe.redirectToCheckout({ sessionId: session.id });
                        }
                    })
                    .catch(error => {
                        console.error('Fejl:', error);
                    });
            });
        }
    });

    /**
     * Skifter favoritstatus for en opskrift.
     *
     * @param {Event} event - Klik eventet.
     * @param {number} recipeId - ID'et på opskriften.
     */
    function toggleFavorite(event, recipeId) {
        event.stopPropagation(); // Forhindr klik eventet fra at nå op til meal-box

        const button = event.currentTarget;
        const userId = parseInt(document.getElementById('user-id').value); // Sørg for at userId er et heltal
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        // Opret gnister (animation med css)
        for (let i = 0; i < 5; i++) {
            const spark = document.createElement('div');
            spark.className = 'spark';
            spark.style.setProperty('--spark-x', `${Math.random() * 60 - 30}px`);
            spark.style.setProperty('--spark-y', `${Math.random() * 60 - 30}px`);
            button.appendChild(spark);
            setTimeout(() => spark.remove(), 600); // Fjern gnisten efter animation
        }

        fetch('/toggle-favorite', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            },
            body: JSON.stringify({
                userId: userId,
                recipeId: recipeId
            }),
        })
            .then(response => response.json())
            .then(data => {
                console.log('Server respons:', data); // Log serverens respons

                if (data.success) {
                    const icon = button.querySelector('.material-icons');
                    icon.textContent = icon.textContent === 'favorite' ? 'favorite_border' : 'favorite';
                } else {
                    alert('Fejl ved opdatering af favoritstatus');
                }
            })
            .catch(error => {
                console.error('Fejl:', error);
            });
    }

</script>
</body>
</html>
